
<form name="userForm" style="width: 75%;" role="form" ng-controller="PopupController" ng-submit="userForm.$valid&&setUser()" novalidate>
    <!--<button class="btn btn-success" ng-click="launch('create')">Custom Dialog</button>-->
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="userName" class="form-control" type="text" placeholder="Kullanıcı Adı" name="txtUserName" required>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtUserName.$error.required" >* Kullanıcı Adı Gerekli</span>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="firstName" class="form-control" type="search"placeholder="Adı" name="txtfirstName" required>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtfirstName.$error.required" >* Adı Gerekli</span>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="lastName" class="form-control" type="search" placeholder="Soyadı" name="txtlastName" required>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtlastName.$error.required" >* Soyadı Gerekli</span>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="nationalId" class="form-control" placeholder="TC Kimlik No" name="txtNationalId" required>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtNationalId.$error.required" >* TC Kimlik No Gerekli</span>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="email" class="form-control" type="text" placeholder="E-Mail" data-error="Geçersiz E-Mail Adresi" name="txtEmail" required >
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtEmail.$error.required" >* E-Mail Adresi Gerekli</span>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="phoneNumber" class="form-control" type="text"placeholder="Telefon" name="txtPhone" required>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtPhone.$error.required" >* Telefon No Gerekli</span>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="password" type="password" data-minlength="6" class="form-control" id="inputPassword" type="text"placeholder="Şifre" name="txtPassword" required>
                        </div>
                        <!--<div class="help-block">Minimum of 6 characters</div>-->
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtPassword.$error.required" >* Şifre Gerekli</span>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="passwordConfirm"  type="password" class="form-control" id="inputPasswordConfirm" type="text"placeholder="Şifre Tekrar" name="txtPasswordAgain" data-match="#inputPassword" data-match-error="Şifreler aynı değil"  required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtPasswordAgain.$error.required" >* Şifre Tekrar Gerekli</span>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input type="submit" class="btn btn-success" value="Kaydet"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
