
<form name="userForm" style="width: 75%;" role="form" ng-controller="PopupController" ng-submit="userForm.$valid&&setUser()" novalidate>
    <!--<button class="btn btn-success" ng-click="launch('create')">Custom Dialog</button>-->
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="locationName" class="form-control" type="text" placeholder="Lokasyon Adı" name="txtLocationName" required>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtLocationName.$error.required" >* Lokasyon Adı Gerekli</span>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="firstName" class="form-control" type="search"placeholder="Bulunduğu Konum" name="txtPlace" required>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtPlace.$error.required" >* Bulunduğu Konum Gerekli</span>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input ng-model="city" class="form-control" type="search"placeholder="Bulunduğu Konum" name="txtCity" required>
                        </div>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtPlace.$error.required" >* Bulunduğu Konum Gerekli</span>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-10" style="width: 250px;">
                            <input type="submit" class="btn btn-success" value="Kaydet"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">


                </div>
            </div>
        </div>
    </div>
</form>
