
<form name="userForm" role="form" ng-controller="PopupController" ng-submit="userForm.$valid&&setUser()" novalidate>
<!--<button class="btn btn-success" ng-click="launch('create')">Custom Dialog</button>-->

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group row">
                    <div class="col-xs-10" style="width: 250px;">
                        <input ng-model="user.userName" class="form-control" type="text" placeholder="Kullanıcı Adı" name="txtUserName" required>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtUserName.$error.required" >* Kullanıcı Adı Gerekli</span>

                    </div>
                     </div>
                <div class="form-group row">
                    <div class="col-xs-10" style="width: 250px;">
                        <input ng-model="user.firstName" class="form-control" type="search"placeholder="Adı" name="txtfirstName" required>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtfirstName.$error.required" >* Adı Gerekli</span>

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-xs-10" style="width: 250px;">
                        <input ng-model="user.lastName" class="form-control" type="search" placeholder="Soyadı" name="txtlastName" required>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtlastName.$error.required" >* Soyadı Gerekli</span>

                    </div>

                </div>
                <!--<div class="form-group row">-->
                    <!--<div class="col-xs-10" style="width: 250px;">-->
                        <!--<input ng-model="user.nationalId" class="form-control" placeholder="TC Kimlik No" name="txtNationalId" required>-->
                        <!--<span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtNationalId.$error.required" >* TC Kimlik No Gerekli</span>-->

                    <!--</div>-->

                <!--</div>-->
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <div class="col-xs-10" style="width: 250px;">
                        <input ng-model="user.email" class="form-control" type="text" placeholder="E-Mail" data-error="Geçersiz E-Mail Adresi" name="txtEmail" required >
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtEmail.$error.required" >* E-Mail Adresi Gerekli</span>

                    </div>

                </div>
                <!--<div class="form-group row">-->
                    <!--<div class="col-xs-10" style="width: 250px;">-->
                        <!--<input ng-model="phoneNumber" class="form-control" type="text"placeholder="Telefon" name="txtPhone" required>-->
                        <!--<span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtPhone.$error.required" >* Telefon No Gerekli</span>-->

                    <!--</div>-->

                <!--</div>-->
                <div class="form-group row">
                    <div class="col-xs-10" style="width: 250px;">
                        <input ng-model="user.password" type="password" data-minlength="6" class="form-control" id="inputPassword" type="text"placeholder="Şifre" name="txtPassword" required>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtPassword.$error.required" >* Şifre Gerekli</span>

                    </div>
                    <!--<div class="help-block">Minimum of 6 characters</div>-->

                </div>
                <div class="form-group row">
                    <div class="col-xs-10" style="width: 250px;">
                        <input ng-model="user.passwordConfirm"  type="password" class="form-control" id="inputPasswordConfirm" type="text"placeholder="Şifre Tekrar" name="txtPasswordAgain" data-match="#inputPassword" data-match-error="Şifreler aynı değil"  required>

                        <span style="color:red;font-size: 12px;" ng-show="userForm.$submitted && userForm.txtPasswordAgain.$error.required" >* Şifre Tekrar Gerekli</span>

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-xs-10" style="width: 250px;">
                        <input type="submit" class="btn btn-success" value="Kaydet"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-10" style="width: 250px;">
                        <datalist></datalist>
                    </div>
                </div>
            </div>
        </div>

</form>
