<form name="userForm" role="form" ng-controller="FirmController" ng-submit="userForm.$valid&&setUser()" novalidate>
    <button class="btn btn-success" ng-click="clickToOpenEmpty()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="jumbotron">

        <div class="container-fluid">
            <table object-table
                   data="userProfile.users"

                   display="5"
                   paging ="true"
                   sorting="simple"
                   headers="Kullanıcı Adı, Adı, Soyadı,TC Kimlik No,Telefon,E-mail,Adres,#,#"
                   fields="userName,firsName,lastName,nationalId,phoneNumber,email,adress">
                <tbody ng-controller="FirmController">
                <tr>
                    <td>{{ ::item.userName }}</td>
                    <td>
                        {{::item.firstName}}
                    </td>

                    <td>{{::item.lastName}}</td>
                    <td>{{::item.nationalId}}</td>
                    <td>{{::item.phoneNumber}}</td>
                    <td>{{::item.email}}</td>
                    <td>{{::item.address}}</td>
                    <td>
                        <button class="btn btn-success" ng-click="clickToOpen($index)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="deleteUser($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</form>
<script type="text/ng-template" id="modalDialogId">
    <div class="ngdialog-message">
        <p> Emin misiniz ?</p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Hayır</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Evet</button>

    </div>
</script>
