<form name="userForm" role="form" ng-controller="LocationController" ng-submit="userForm.$valid&&setUser()" novalidate>
    <button class="btn btn-success" ng-click="clickToOpenEmptyLocation()">
        <span class="glyphicon glyphicon-plus"> Lokasyon Ekle</span>
    </button>
    <button class="btn btn-success" ng-click="clickToOpenEmpty()">
        <span class="glyphicon glyphicon-plus brand"> Kantar Ekle</span>
    </button>
    <div class="jumbotron">

        <div class="container-fluid">

            <table object-table
                   data="locationProfile.locations"

                   display="5"
                   paging ="true"
                   sorting="simple"
                   headers="Lokasyon Adı, Konum, Şehir,Kantar Adı,Kantar Bilgisi,#,#"
                   fields="userName,firsName,lastName,nationalId,phoneNumber">
                <tbody ng-controller="LocationController">
                <tr>
                    <td>{{ ::item.locationName }}</td>
                    <td>
                        {{::item.place}}
                    </td>

                    <td>{{::item.city}}</td>
                    <td>{{::item.scalesName}}</td>
                    <!--<td>{{::item.phoneNumber}}</td>-->
                    <!--<td>{{::item.email}}</td>--><td>{{::item.scalesDesc}}</td>
                    <td>
                        <button class="btn btn-success" ng-click="clickToOpen($index)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success" ng-click="deleteUser($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</form>
<script type="text/ng-template" id="modalDialogId">
    <div class="ngdialog-message">
        <p> Emin misiniz ?</p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Hayır</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Evet</button>

    </div>
</script>
