<style>.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
    width: 65%;
}</style>

<form name="userForm" role="form" ng-controller="UserController" novalidate>
    <button class="btn btn-success" ng-click="clickToOpenEmptyUser()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <div class="jumbotron">
        <table object-table
               data="userData"
               sorting="compound"
               headers="Kullanıcı Adı, Adı, Soyadı,TC Kimlik No,Telefon,E-mail,Adres,#,#"
               fields="userName,firstName,lastName,nationalId,phoneNumber,email,address"
        >
            <thead>
            <tr>
                <th ng-click="sortBy('userName')" ng-class="headerIsSortedClass('userName')" class="sortable"
                    allow-drag>Kullanıcı Adı
                </th>
                <th ng-click="sortBy('firstName')" ng-class="headerIsSortedClass('firstName')" class="sortable"
                    allow-drag>Adı
                </th>
                <th ng-click="sortBy('lastName')" ng-class="headerIsSortedClass('lastName')" class="sortable"
                    allow-drag>Soyadı
                </th>
                <!--<th ng-click="sortBy('nationalId')" ng-class="headerIsSortedClass('nationalId')" class="sortable"-->
                    <!--allow-drag>TC Kimlik No-->
                <!--</th>-->
                <!--<th ng-click="sortBy('phoneNumber')" ng-class="headerIsSortedClass('phoneNumber')" class="sortable"-->
                    <!--allow-drag>Telefon-->
                <!--</th>-->
                <th ng-click="sortBy('email')" ng-class="headerIsSortedClass('email')" class="sortable" allow-drag>
                    E-mail
                </th>
                <th ng-click="sortBy('address')" ng-class="headerIsSortedClass('address')" class="sortable" allow-drag>
                    Adres
                </th>
                <th>#</th>
                <th>#</th>
            </tr>
            </thead>

            <tbody>
            <tr >
                <td>{{ ::item.userName }}</td>
                <td>
                    {{::item.firstName}}
                </td>

                <td>{{::item.lastName}}</td>
                <!--<td>{{::item.nationalId}}</td>-->
                <!--<td>{{::item.phoneNumber}}</td>-->
                <td>{{::item.email}}</td>
                <td>{{::item.address}}</td>
                <td>
                    <button ng-controller="UserController" class="btn btn-success" ng-click="clickToOpen(item)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button ng-controller="UserController" class="btn btn-danger" ng-click="deleteUser(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</form>
<script type="text/ng-template" id="modalDialogId">
    <div class="ngdialog-message">
        <p> Emin misiniz ?</p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary"
                ng-click="closeThisDialog('button')">Hayır
        </button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">
            Evet
        </button>

    </div>
</script>
