.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}
.text-area.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}
.combo-box.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}
.radio-button.error {
    -fx-background-insets: 0;
    -fx-border-color: red ;
    -fx-focus-color: red ;
}
