<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand"></h2>
        <img src="images/kantarLogo.svg" style="width: 125px;height: 125px" class="user-avatar" /><br />
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Çıkış Yap</a>
      </div>

      <ul class="nav nav-sidebar">
          <li ng-class="{active: $state.includes('user')}"><a ui-sref=user>Kullanıcı İşlemleri <span
              class=sr-only>(current)</span></a></li>
          <li ng-class="{active: $state.includes('location')}"><a ui-sref=location>Lokasyon İşlemleri</a></li>
          <li ng-class="{active: $state.includes('firm')}"><a ui-sref=firm>Firma İşlemleri</a></li>
          <!--<li ng-class="{active: $state.includes('product')}"><a ui-sref=product>Ürün İşlemleri</a></li>-->
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>
