<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/kantarLogo.svg" style="width: 170px;height: 170px" class="user-avatar" />

			<form role="form" ng-submit="submit()">
                <div style="color:red;font-size: 12px;" >{{errorMessage}}</div>
				<div class="form-content">
					<div class="form-group">
						<input type="text" ng-model="username" class="form-control input-underline input-lg" id="" placeholder="Kullanıcı Adı">
					</div>

					<div class="form-group">
						<input type="password" ng-model="password" class="form-control input-underline input-lg" id="" placeholder="Şifre">
					</div>
				</div>

				<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Giriş Yap</button>

			</form>

		</div>
	</div>

</div>
